:root {
  --primary-color: #e89f71;
  --secondary-color: #3a3a3a;
  --background-color: #fcf8f3;
  --foreground-color: #f9f1e7;
}

.header {
  height: 200px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(249, 241, 231, 1) 72%,
    rgba(252, 248, 243, 1) 66.9%
  );
  padding: 3rem 3rem 0 4.5rem;
}

ul{
  list-style: none;
}

.logo {
  width: 140px;
  height: 37px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.section-one {
  flex: 1 1 auto;
  max-width: 45rem;
  flex-basis: 20rem;
}

.section-one ul {
  gap: 50px;
}

.section-three ul{
  gap: 30px;
}

.section-two {
  flex: 0 1 auto;
  flex-basis: 50rem;
  min-width: 25rem;
}

.section-three {
  flex: 1 1 auto;
}

.section-three ul li.svg svg:hover {
  transform: scale(1.05);
}

.section-one, .section-three {
  padding-top: 5px;
}

.userImg {
  height: 35px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
}

.dropdown-icon {
  margin: 3px 0 0 3px;
}

.dropdown:hover{
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  padding: 0.5rem;
  transition: all 0.23s ease-in-out;
}

.profile:hover{
  background-color: inherit !important;
  padding: 0 !important;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
  margin: 0.25rem 0 0 -0.75rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 5rem;
  background-color: var(--background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 3;
  border-radius: 6px;
}

.dropdown-content li {
  box-shadow: inset 0 0 0 0 var(--secondary-color);
  color: var(--primary-color);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.dropdown-content li:hover {
  box-shadow: inset 30rem 0 0 0 var(--primary-color);
  color: white;
}

.header ul {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

input.search-bar {
  resize: horizontal;
  width: 100%;
  padding-left: 3rem;
}

.header input[type="text"]:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 10px;
}

.search-svg {
  position: absolute;
  top: 1.8rem;
  z-index: 1;
}

.page:hover{
  background-color: var(--primary-color);
  color: white;
  border-radius: 6px;
  transform: scale(1.1);
  padding: 0.5rem;
  transition: all 0.23s ease-in-out;
}

.count{
  background-color: var(--primary-color);
  padding: 5px 8px 5px 8px;
  border-radius: 50%;
  position: relative;
  bottom: 2rem;
  left: 1.1rem;
  font-weight: 700;
  color: var(--foreground-color);
}

.svg-cart:hover{
  transform: scale(0.95);
}

