:root {
  --primary-color: #e89f71;
  --secondary-color: #3a3a3a;
  --background-color: #fcf8f3;
  --foreground-color: #f9f1e7;
  --swiper-pagination-color: var(--primary-color);
  --swiper-navigation-color: #d0d0d0;
  --swiper-navigation-size: 2rem !important;
}

/* Cart index */
.cart-wrapper {
  padding: 2rem;
  min-height: 24.5rem;
}

.cart-wrapper h1.cart-title {
  padding-left: 4.3rem;
}

.cart-details {
  max-width: 71%;
}

.checkout-card {
  position: absolute;
  left: 100%;
  top: -7.4rem;
  border-left: 1px solid lightgrey;
  width: 40%;
  padding: 10px 0 0 30px;
}

.checkout-card h1 {
  margin: 2.5rem 0 2rem 0;
}

.checkout-details .section {
  padding: 1.75rem 1rem;
}

.checkout-details .checkout-button {
  width: 100%;
}

.checkout-details span.title {
  font-size: 16px;
  font-weight: 600;
}

.checkout-details form div {
  margin: 0.5rem 0 2rem 0;
}

.checkout-payment-options {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 2rem 0 1rem 0;
}

.checkout-subtotal {
  border-top: 1px solid lightgrey;
  padding-top: 2rem;
}

.checkout-total {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2rem;
}

span.amt::before,
.price::before {
  content: "Rs. ";
}

.vl {
  border-right: 1px solid lightgrey;
  margin-right: -4rem;
  padding: 0 0 0 1rem;
}

input[type="radio"]:hover,
input[type="radio"]:checked {
  background-color: var(--primary-color) !important;
  outline-color: var(--primary-color) !important;
}

.checkout-details div.section {
  border-top: 1px solid lightgrey;
}

.cart-wrapper h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: -1px;
}

.cart-items {
  width: 52rem;
  text-align: left;
  margin: 0 auto;
}

.cart-list {
  align-items: center;
  width: 54rem;
  margin: 0 0 0 1rem;
}

.cart-image {
  max-width: 10rem;
}

.cart-image a svg {
  fill: black !important;
  position: relative;
  top: 6.5rem;
  left: 0;
}

.cart-image img {
  height: 10rem;
  margin: 1.5rem 0 2.25rem 3rem;
  object-fit: cover;
}

.empty-cart {
  margin: 0 auto;
  text-align: center;
  padding: 0 0 0 0;
  color: grey;
  font-weight: 600;
  width: 30rem;
}

/* Sliders CSS */

.sliders-wrapper {
  height: 625px;
  background: linear-gradient(
    90deg,
    rgba(249, 241, 231, 1) 72%,
    rgba(252, 248, 243, 1) 66.9%
  );
}

div.slider-desc {
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
  position: absolute;
  width: 494px;
  height: 553px;
  left: 6.5rem;
  bottom: 8.8rem;
  z-index: 2;
  padding: 45px 3% 3% 3%;
}

div.stitle {
  font-size: 52px;
  line-height: 120%;
}

div.sdesc {
  line-height: 150%;
  font-size: 20px;
  min-height: 15rem;
}

div.product-details {
  background: rgba(255, 255, 255, 0.72);
  position: absolute;
  left: 73%;
  bottom: -30%;
  z-index: 2;
  width: 24%;
  height: 27%;
  backdrop-filter: blur(15.5px);
  font-size: 28px;
  line-height: 150%;
  padding: 2rem;
  font-weight: 600;
  /* display: none; */
}

.product-subtitle {
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  font-size: 20px;
}

.prightArr {
  position: absolute;
  right: 8%;
  bottom: 2.1rem;
  font-weight: 500;
}

.sliders-wrapper .swiper-pagination {
  position: absolute;
  bottom: -2rem !important;
}

.sliders-wrapper .swiper-wrapper .swiper-slide-active {
  min-width: 65%;
}

.sliders-wrapper .swiper-wrapper .swiper-slide-active .product-details {
  bottom: 8% !important;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Banner */
.banner-wrapper {
  margin: 5rem 0 2rem 0;
}

.banner-section {
  flex-wrap: wrap;
  max-width: 15rem;
  margin: 1.5rem auto;
  position: relative;
  justify-content: center;
}

.banner-logo {
  position: relative;
  top: 0.5rem;
  left: -1.5rem;
}

.ng-margin {
  margin-left: 9rem;
}

.ng-subtitle {
  width: 15rem !important;
}

div.banner-title,
div.banner-subtitle {
  line-height: 150%;
}

div.banner-title {
  font-size: 18px;
  font-weight: 500;
}

div.banner-subtitle {
  font-size: 16px;
  position: absolute;
  left: 2.5rem;
  top: 1.95rem;
  width: 13rem;
}

/* Product Details */
.product-wrapper {
  margin: 2rem 0 2rem 0;
}

div.product-item {
  height: 446px;
  margin: 1rem auto;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.product-listings {
  background-color: #f4f5f7;
  position: absolute;
  left: 0%;
  top: 67.49%;
  height: 145px;
  width: 285px;
}

.product-list {
  gap: 5rem;
  margin: 0 11rem 0 11rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.product-listings .product-price {
  line-height: 150%;
}

.product-item {
  height: 446px;
  width: 285px;
}

.product-image {
  height: 301px;
  width: 285px;
}

.product-listings .product-title,
.product-price {
  color: #3a3a3a;
}

.product-listings .product-title {
  font-size: 24px;
  line-height: 120%;
  padding-top: 1rem;
}

.product-listings .product-category {
  font-size: 16px;
  color: #898989;
}

.product-price {
  font-size: 20px;
}

.hover-content {
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  transition: transform 0.23s;
  z-index: 33;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.hover-svg > svg {
  display: inline;
  vertical-align: top;
  margin-right: 0.5rem;
}

.hover-svg path {
  fill: #fff;
}

.product-item:hover .hover-content {
  bottom: 10%;
}

.hover-content button {
  background: #ffffff;
  padding: 0.75rem 3rem;
  font-size: 16px;
  line-height: 150%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  z-index: 3;
  box-shadow: 2px 3px;
}

.product-item:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.72);
  position: absolute;
  z-index: 32;
  opacity: 0;
  transition: all ease 0.23s;
}

.product-item:hover:after {
  opacity: 0.72;
}

.show-box {
  height: 48px;
  width: 245px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.show-box:hover,
.btn-primary:hover {
  border: 1px solid var(--primary-color);
  color: var(--foreground-color);
  background-color: #cf7f4c;
  transition: all 0.23s ease-in;
}

.show-box:active {
  transform: scale(0.95);
}

.btn-primary {
  background-color: var(--primary-color);
}

.product-wrapper svg[class*="paginate"] {
  color: var(--primary-color);
}

.pagination-width {
  margin: 0 11.5rem 0 14rem;
}

/* Product View Wrapper*/
.product-view-wrapper .return svg {
  transform: scale(1.2);
}

.product-view-wrapper .return:active {
  transform: rotate(270deg);
}

.product-view-wrapper .return:active,
.product-view-wrapper .return:hover {
  transition: all 0.23s ease-in-out;
}

.product-view-wrapper .return:hover {
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
}

/* Trending Product */

.trending-wrapper {
  height: 670px;
  background: rgb(249, 241, 231);
  padding: 2.5rem 0 2rem 4rem;
  gap: 2.5rem;
}

.trending-header {
  width: 515px;
  height: 200px;
  margin: auto 0;
  font-weight: 600;
}

.trending-header .title {
  font-size: 44px;
  line-height: 120%;
  color: var(--secondary-color);
}

.trending-header .subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  margin-top: 1.5rem;
  width: 368px;
}

.trending-header .primary-button {
  width: 176px;
  text-align: center;
  margin-top: 1.5rem;
  display: block;
}

.trending-products-wrapper .swiper-wrapper {
  width: 50%;
}

.trending-image {
  max-width: 100%;
  height: 582px;
  object-fit: cover;
}

.trending-pagination-block {
  width: 51%;
  height: 120px;
  background-color: var(--foreground-color);
  position: absolute;
  bottom: 2rem;
  right: 0;
  z-index: 33;
}

.trending-pagination-block .swiper-pagination {
  margin-bottom: 2rem;
}

.trending-next-button {
  background-color: white;
  width: 48px !important;
  height: 48px !important;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  color: var(--primary-color) !important;
  padding-left: 5px;
  margin-right: 4rem;
}

.trending-next-button:hover {
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.23s ease-in-out;
}

.trending-product-description {
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(1.5px);
  position: absolute;
  bottom: -30%;
  padding: 2rem;
}

.right-Arr {
  background-color: var(--primary-color);
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: -30%;
}

.trending-products-wrapper
  .swiper-wrapper
  .swiper-slide-prev
  .trending-product-description {
  bottom: 7%;
  left: 2rem;
  width: 217px;
  height: 130px;
}

.trending-products-wrapper
  .swiper-wrapper
  .swiper-slide-prev
  .right-Arr{
    bottom: 7%;
    left: 59%;
    padding: 1.2rem 1rem 1rem 1rem;
    /* padding-right: 1rem; */
  }

  .swiper-wrapper
  .swiper-slide-prev
  .right-Arr:hover{
    opacity: 0.8;
  }

  .right-Arr path{
    fill: white;
  }

.trending-product-title {
  font-size: 28px;
  line-height: 120%;
  font-weight: 500;
  color: var(--secondary-color);
  margin-bottom: 1.25rem;
}

.trending-hr {
  width: 37%;
  flex-shrink: 2;
  margin: auto 0;
}

.border-hr {
  border: 1px solid var(--secondary-color);
}

.trending-product-price {
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  text-align: right;
  flex-shrink: 0;
}

/* Category Slider */

.category-wrapper {
  margin: 6rem 0 6rem 0;
}

.category-swiper {
  margin: 0 auto;
}

.category-title {
  text-align: center;
  margin: 0 0 3rem 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
}

.cat-list {
  justify-content: center;
}

.category-image {
  height: 170px;
  width: 170px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 auto;
}

.cat-title {
  text-align: center;
  color: var(--secondary-color);
  margin-top: 1.5rem;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  /* Possibility for optimization */
}

.category-swiper .swiper-pagination {
  position: absolute;
  bottom: 1rem;
}

/* Testimonial */

.testimonials-container {
  height: 652px;
  background-color: var(--background-color);
  padding: 5rem 0 4rem 0;
  position: relative;
}

.ornament {
  justify-content: center;
  gap: 57px;
  padding: 3rem 0 0 28%;
}

.ornament65 {
  height: 60px;
  margin: auto 0 2.6rem 0;
}

.testimonial-wrapper {
  position: relative;
  bottom: 11rem;
}

.testimonial-title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: var(--secondary-color);
}

.testimonial-section {
  background-color: white;
  margin: 4rem auto;
  width: 849px;
  height: 283px;
  border-radius: 6px;
  gap: 1.75rem;
  padding: 2rem;
  color: #3d3d3d;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dp img {
  width: 181px;
  height: 181px;
  margin: 2rem 0 0 0;
  border-radius: 50%;
}

.testimonial .fullname {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  padding-top: 1rem;
}

.testimonial .feedback {
  padding-top: 1rem;
  font-size: 16px;
  line-height: 19px;
}

.pagination-buttons {
  position: absolute;
  bottom: 1rem;
  left: 35%;
  width: 30%;
  margin: 0 auto;
}

.pagination-buttons div {
  width: var(--swiper-navigation-size);
  font-weight: 800;
  color: var(--primary-color);
}

/* Featured Image */

.featured-wrapper {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-product,
.featured-image {
  height: 300px;
  width: 1239px;
}

.featured-desc {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background: rgba(33, 33, 33, 0.5);
  align-items: center;
  padding: 2.5rem 3rem;
  color: white;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.featured-desc .title {
  font-size: 52px;
  line-height: 50px;
  font-weight: 700;
}

.featured-desc .desc {
  font-size: 16px;
  font-weight: 500;
}

.featured-desc .explore-link {
  font-size: 20px;
  color: var(--primary-color);
}

.explore-link a {
  text-decoration: underline;
}

.explore-link a:hover {
  color: #cf7f4c;
  transition: all 0.23s ease-in-out;
}

/* Product View */
.product-view-wrapper {
  margin: 2rem 0 2rem 0;
}

.product-view-wrapper .return {
  position: absolute;
  right: 0;
}

.product-view-wrapper .return a svg {
  width: 30px !important;
  height: 30px !important;
}

.page-view-wrapper,
.orders-container {
  min-height: 24rem;
  padding: 2rem;
}

.page-view-wrapper .page-title {
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  color: var(--primary-color);
}

.empty-category {
  min-height: 24rem;
  text-align: center;
  /* width: 150% !important; */
}
